:root {
    background-color: lightgrey;
    --text_light:white;
    --text_med:white;
    --text_dark:darkblue;
    --page_main:rgb(113, 114, 135);
    
}
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
   
}

body{
    background: var(--page_main);
    color:var(--text_light);
    padding: 0px;
    margin: 0px;
   
}

h1{
    background-color:rgb(102, 139, 179);
    color:white;
    font-weight: bold;
    text-align: center;
 }

.wrapper {
    display:flex;
    height:900px;
    flex-direction:column; 
 }

button {
    height:fit-content;
    width:10rem;
    margin:0px
    cursor:pointer;
    border-radius: 0in;
    background: white;

}

ul {
    list-style: none;
}

 .weather-threeday {
    display:grid;
    grid-gap:32px 20px;
    grid-template-columns: repeat(3,1fr);
}

 







